.hamburgerimg img{
    width: 60%;
    height: 100%;
}

.menuhamburger ul{
    font-size: 15px;
}

.home_img{
    height: 60vh;
}

.titolo span{
    font-size: 35px;
}

.lista a{
    font-size: 20px;
}

.lista span{

    font-size: 20px;
}

.testo{
    font-size: 15px;
}

.intro span, .intro p {
    font-size: 20px;
}
.intro a{
    font-size: 10px;
}
.programma a{
    font-size: 13px;
}

.testo_numeri p, .testo_numeri span{
    font-size: 15px;
}
.uno span, .uno p, .unouno span, .unouno p{
    font-size: 15px;
}

.text_stroke {
    font-size: 20px;
}

.servizi_titolo h2{
    font-size: 20px;
}

.articolo p{
font-size: 10px;
}

.articolo span{
    font-size: 12px;
}

.conteggio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 3% 3%; */
}

.uno{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0% 2%;
    flex: 1;
    
}

.abbastanza_testo p, .abbastanza_testo a{
    font-size: 15px;
}

.store_titolo{
    font-size: 20px;
}

.store_text p, .link_text a{
    font-size: 15px;
}

.footer_siti{
    width: 100%;
    margin:0;
}

.ticket a{
    font-size: 8px; 
}


.link{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.link img{
    width: 90%;
    height: 90%;
}

.lingua{
    font-size: 13px;
}


.servizi{
    grid-template-columns: repeat(3, 30%);
    width: 100%;
}

.articolo p{
    
    width: 100%;
}

.footer_link{
    font-size: 15px;
}

.footer_linkdue{
    font-size: 10px;
}

.footer_biglietto{
    font-size: 15px;
}

.footer_newsletter{
    font-size: 15px;
}

.footer_siti{
    font-size: 10px;
}

.footer_diritti{
    font-size: 8px;
}

.footer_generico{
    height:400px;
}

.footer_siti{
    height: 50px;
}

.store{
    height: 60vh;
    
}
.news_text{
    font-size: 10px;
}
.news_titolo{
    font-size: 20px;
}

.passioni{
    font-size: 15px;
}
